HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignora tutti i file .log
logs/
logs/*
*.log
*.gz
app.log
!**/logs/*
!**/logs/

# Ignora le directory build e dist
build/
dist/

# Ignora tutti i file temporanei
temp/*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
logs/app.log
*.log
logs/app.log
/logs
